php_value post_max_size 35M
php_value upload_max_filesize 40M
php_value max_execution_time 1800
<IfModule mod_rewrite.c>
    RewriteEngine On
	# Handle Front Controller... 
	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME} !-f 
	RewriteCond %{REQUEST_FILENAME} !-l 
	RewriteRule ^ index.php [L]
</IfModule>