<IfModule mod_rewrite.c>
    RewriteEngine On

    
        RewriteRule %{HTTP_HOST} /%{DOCUMENT_ROOT}/cedec/index.php

	# gestaocedec
	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME} !-f 
	RewriteCond %{REQUEST_FILENAME} !-l 
	RewriteRule ^ %{DOCUMENT_ROOT}/index.php

</IfModule>