@CHARSET "UTF-8";

body {
	font-size: 11px;
	text-align:center;
	margin: auto;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	
}

.layout {
	width: 700px;
	height: 700px;
	border: 0.1em solid;
	overflow: hidden;
	margin: auto;
	
}

td {
	font-size: 11px;

}

.meio{
	margin: auto;
	font-size: 11px;
	text-align: center;
	

}


.t_trecho {
	width: 50%;
	
}
